body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ff69b4,#000);
    color:white;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    padding:20px;
}

section{
    background:rgba(255,255,255,0.1);
    padding:20px;
    margin:20px 0;
    border-radius:15px;
}

h1{
    text-align:center;
    color:#ffb6c1;
}

.contact-card{
    text-align:center;
    padding:30px;
    background:rgba(255,255,255,0.15);
    border-radius:20px;
    border:2px solid #ffb6c1;
    box-shadow:0 0 15px rgba(255,182,193,0.5);
}

.contact-card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

.contact-card img{
    width:120px;
    height:120px;
    border-radius:50%;
    border:3px solid white;
    object-fit:cover;
    margin-bottom:15px;
}

.contact-card h3{
    color:#ffd1dc;
    margin-bottom:10px;
}

.contact-info p{
    margin:10px 0;
    font-size:16px;
}

.contact-info a{
    color:#ffd1dc;
    text-decoration:none;
    font-weight:bold;
}

.contact-info a:hover{
    color:white;
}
