body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ff69b4,#000);
    color:white;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    padding:20px;
}

section{
    background:rgba(255,255,255,0.1);
    padding:20px;
    margin:20px 0;
    border-radius:15px;
}

h1{
    text-align:center;
    color:#ffb6c1;
}

h2{
    color:#ffc0cb;
}
